/* =================================
   Estilos para la Galería
   ================================= */

.contenido-galeria {
    padding: 2rem 5%;
    
    text-align: center;
}

.contenido-galeria h1 {
    color: var(--color-secundario);
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.galeria-grid {
    display: grid;
    /* Por defecto, 3 columnas en pantallas grandes */
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.galeria-grid a {
    display: block;
    overflow: hidden; /* Oculta lo que se salga del contenedor */
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.galeria-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
    transition: transform 0.4s ease, filter 0.4s ease; /* Transición suave para el hover */
}

.galeria-grid a:hover img {
    transform: scale(1.1); /* Agranda la imagen */
    filter: brightness(1.1); /* Aumenta ligeramente el brillo */
}




/* =================================

/* =================================
   Diseño Responsivo para la Galería
   ================================= */
@media (max-width: 768px) {
    .galeria-grid {
        /* En pantallas de 768px o menos, cambiamos a 2 columnas */
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem; /* Reducimos un poco el espacio entre imágenes */
    }

    .contenido-galeria h1 {
        font-size: 2rem; /* Hacemos el título un poco más pequeño */
    }
}
